<div class="dropdown">
	<button
		type="button"
		class="btn d-flex border-0 align-items-center fs-4 fw-bold p-1 navbar-btn"
		type="button"
		data-bs-toggle="dropdown"
		aria-expanded="false">
		All Courses
		<span class="material-icons text-primary"> expand_more </span>
	</button>

	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">HTML&CSS</a></li>
		<li><a class="dropdown-item" href="#">Bootstrap 5</a></li>
		<li><a class="dropdown-item" href="#">Web Layout</a></li>
		<li><a class="dropdown-item" href="#">JavaScript</a></li>
		<li><a class="dropdown-item" href="#">Vue</a></li>
		<li><a class="dropdown-item" href="#">React</a></li>
	</ul>
</div>
