<div
	class="modal fade"
	id="editSuccessAlert"
	tabindex="-1"
	aria-labelledby="editSuccessAlert"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-primary fw-bold d-flex align-items-center">
				<span class="material-symbols-outlined me-2"> check_circle </span>
				Successfully Edited !!
			</div>
		</div>
	</div>
</div>
