<button
	type="button"
	class="btn d-flex align-items-center fs-4 fw-bold p-0 pe-1 navbar-btn"
	data-bs-toggle="modal"
	data-bs-target="#addNewAdmin">
	<span class="material-icons text-primary me-2"> add </span>Add New Admin
</button>
